%html
  %head
    %title
      conSenseUs - cus democracy is just mob rule
    %link{:type=>'text/css', :href=>'/style.css', :rel=>'stylesheet'}
  %body
    #container
      -if @flash
        #flash= @flash
      #content
        =yield
      
