!!!XML
!!!
%html
  %head
    %title
      conSenseUs - cus democracy is just mob rule
    %link{:type=>'text/css', :href=>'/style.css', :rel=>'stylesheet'}
  %body
    #container
      #nav
        %ul
          %li.button
            %a{:href=>'/consensus/new'} New Topic
          %li.button
            %a{:href=>'/'} List of topics
      .clear
      -if @flash
        #flash= @flash
      #content
        =yield
      
