.stats
  - if @topic.blocks > 0
    =@topic.blocks
    people have blocked.
  - if @topic.stand_asides > 0
    =@topic.stand_asides
    people have stood aside.
  - if @topic.consents > 0
    =@topic.consents
    people have consented.
  .votelink
    %a.votelink{:href=>'/' + @topic.permalink + '/vote'} Vote on this topic now!
  .comments
    -@topic.votes.each do |v|
      .text
        =v.comment
